<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href='/css/myStyle.css' />
    <title>Edureka News App</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
            <img src="./images/logo.png" alt="news-logo" style="width:50px;height:auto;">
        </div>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sports">Sports</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Contact Us <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <% if (isLoggedIn == false) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              <%}%>
              <% if (isLoggedIn == true) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              <%}%>
          </ul>
        </div>
      </nav>

      <br/><br/><br/>
    <div class='container'>
        <!-- when it's redirected from register after successful registration, we display in green -->
    <!-- when it's redirected from login itsel after unsuccessful login, we display in red -->
    <% if (msgClass > 0) { %>
        <p class="okay"><%=msg%></p>
    <%} else { %>
        <p class="danger"><%=msg%></p>
        <% } %>

    <h3>Send us a query</h3>
    <form action="/contact" method="post" >
        <p>
            <label>Email</label>
            <input type="email" name="email" id="email"/>
            <br/><br/>
    
            <label>Query</label>
            <input value="" name="query" id="query"/>
            <br/><br/>

            <button type="submit">Submit</button>
        </p>
    </form>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://www.edureka.co/"> edureka.co</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>